main
	.container
		.page_error
			.page_error__title 404
			p.page_error__text Извините, запрашиваемая страница не существует или была перемещена.
			a(href="/").page_error__btn.btn-color-eye Главная страница