main
  .container
    .breadcrumbs
      a(href="/") Главная страница
      span Депутаты
    h1.page_title Депутаты
    .page_deput
      .page_deput__line-nav.line-nav
        ul.line-nav__list
          li.line-nav__item
            a.line-nav__link.active(href="#")
              span.text Список депутатов
              span.text-mob Показать списком
          li.line-nav__item
            a.line-nav__link(href="#")
              span.text Распределение по округам
              span.text-mob Показать по округам
      .page_deput__list-wrapper
        ul.page_deput__list
          li
            article.card-person
              a.card-person__link(href="/") Чайников Александр Михайлович
              .card-person__img
                img(src="img/card-person/1.jpg", alt="person")
              .card-person__info
                h4.card-person__title.hov Чайников Александр Михайлович
                .box-info
                  span.title Образование:
                  span.text Среднее профессиональное
                .box-info
                  span.title Место работы:
                  span.text СПК «Бакряжский», главный инженер.
                .box-status
                  p.desc Выдвинут в порядке самовыдвижения.
                .box-desc
                  p Член комиссии по муниципальному хозяйству, строительству и экологии и комиссии по нормативно-правовым вопросам и связям с общественностью
          li
            article.card-person
              a.card-person__link(href="/") Ибрагимов Рустам Ильдарович
              .card-person__img
                img(src="img/card-person/2.jpg", alt="person")
              .card-person__info
                h4.card-person__title.hov Ибрагимов Рустам Ильдарович
                .box-info
                  span.title Образование:
                  span.text Среднее профессиональное
                .box-info
                  span.title Место работы:
                  span.text ГБУЗ СО «Ачитская центральная районная больница», фельдшер скорой медицинской помощи.
                .box-status
                  p.desc Выдвинут в порядке самовыдвижения.
                .box-desc
                  p Член комиссии по социальной политике и общественным отношениям и комиссии по нормативно-правовым вопросам и связям с общественностью
          li
            article.card-person
              a.card-person__link(href="/") Идиятова Лилия Миргазимовна
              .card-person__img
                img(src="img/card-person/3.jpg", alt="person")
              .card-person__info
                h4.card-person__title.hov Идиятова Лилия Миргазимовна
                .box-info
                  span.title Образование:
                  span.text Высшее
                .box-info
                  span.title Место работы:
                  span.text ГБУЗ СО «Ачитская центральная районная больница», исполняющая обязанности главного врача
                .box-status
                  p.desc Выдвинута ВПП «Единая Россия».
                .box-desc
                  p Член комиссии по социальной политике и общественным отношениям
          li
            article.card-person
              a.card-person__link(href="/") Торопов Алексей Викторович
              .card-person__img
                img(src="img/card-person/4.jpg", alt="person")
              .card-person__info
                h4.card-person__title.hov Торопов Алексей Викторович
                .box-info
                  span.title Образование:
                  span.text Высшее
                .box-info
                  span.title Место работы:
                  span.text Дума Ачитского городского округа, председатель
                .box-status
                  p.desc Выдвинут ВПП «Единая Россия».
                .box-desc
                  p Член комиссии по нормативно-правовым вопросам и связям с общественностью и комиссии по бюджету, налогам, экономике и финансам
          li
            article.card-person
              a.card-person__link(href="/") Новоселов Дмитрий Александрович
              .card-person__img
                img(src="img/card-person/5.jpg", alt="person")
              .card-person__info
                h4.card-person__title.hov Новоселов Дмитрий Александрович
                .box-info
                  span.title Образование:
                  span.text Высшее
                .box-info
                  span.title Место работы:
                  span.text МКУК Ачитского городского округа «Ачитская ЦБС», библиотекарь.
                .box-status
                  p.desc Выдвинут в порядке самовыдвижения.
                .box-desc
                  p Член комиссии по муниципальному хозяйству, строительству и экологии и комиссии по бюджету, налогам, экономике и финансам.

