main
  .container
    .breadcrumbs
      a(href="/") Главная страница
      a(href="/") Депутаты
      span Торопов Алексей Викторович
    h1.page_title Торопов Алексей Викторович
    .page_detail-deputy
      .page_detail-deputy__box-img-contacts
        .box-img
          img(src="img/detail-deputy/1.jpg", alt="img")
        .box-contacts
          .box-info
            span.title Эл. адрес:
            a.mail(href="mailto:a.toropov@achit.ru") a.toropov@achit.ru
          .box-info
            span.title Вконтакте:
            a.mail(href="https://vk.com/toropov.achit") https://vk.com/toropov.achit
          .box-info
            span.title Телефон/факс
            a.phone(href="tel:8 (34391) 7-01-24") 8 (34391) 7-01-24
      .page_detail-deputy__box-text
        p Депутат Думы Ачитского муниципального округа.
        p Избран 19 сентября 2021 года по Ачитскому трехмандатному избирательному округу №2.
        p Депутатское объединение: Фракция Всероссийской политической партии «Единая Россия»
        p Председатель Думы Ачитского муниципального округа, член комиссии по нормативно-правовым вопросам и связям с общественностью, член комиссии по бюджету, налогам, экономике и финансам.
        p Дата Рождения: 08.12.1973 г.
        p Образование высшее – окончил Уральскую лесотехническую академию.
        p Награжден почетной грамотой Законодательного собрания Свердловской области.
        p До избрания на должность председателя Думы занимал должность заместителя главы администрации Ачитского городского округа по муниципальному и жилищно-коммунальному хозяйству.
