main
	.container
		.breadcrumbs
			a(href="/") Главная страница
			span Документы
		h1.page_title Документы
		.page_docs
			.page_docs__header
				.col Название
				.col Дата публикации
				.col Дата публикации
				.col
			.page_docs__row
				.docs_info.col
					p.docs_info__title УСТАВ АЧИТСКОГО МУНИЦИПАЛЬНОГО ОКРУГА — вступил в силу 1 января 2025 года
					.docs_info__download
						span PDF
						span 1,2 Мб
				.docs_date.col <span>Опубликован:</span>23.12.2025
				.docs_date.col <span>Опубликован:</span>23.12.2025
				.docs_link.col
					a(href="#") Скачать
			.page_docs__row
				.docs_info.col
					p.docs_info__title РЕГЛАМЕНТ ДУМЫ Ачитского муниципального округа — вступил в силу с 1 января 2025 года
					.docs_info__download
						span PDF
						span 0,7 Мб
				.docs_date.col <span>Опубликован:</span>20.12.2025
				.docs_date.col <span>Опубликован:</span>20.12.2025
				.docs_link.col
					a(href="#") Скачать
			.page_docs__row
				.docs_info.col
					p.docs_info__title ПОЛОЖЕНИЕ О ПОСТОЯННЫХ КОМИССИЯХ ДУМЫ АЧИТСКОГО МУНИЦИПАЛЬНОГО ОКРУГА, утвержденные решением Думы № 1/3 от 29.01.2025
					.docs_info__download
						span PDF
						span 1,2 Мб
				.docs_date.col <span>Опубликован:</span>01.02.2025
				.docs_date.col <span>Опубликован:</span>01.02.2025
				.docs_link.col
					a(href="#") Скачать
			.page_docs__row
				.docs_info.col
					p.docs_info__title ПОЛОЖЕНИЕ ОБ ОФИЦИАЛЬНОМ САЙТЕ ДУМЫ АЧИТСКОГО ГОРОДСКОГО ОКРУГА
					.docs_info__download
						span DOCX
						span 0,38 Мб
				.docs_date.col <span>Опубликован:</span>01.02.2025
				.docs_date.col <span>Опубликован:</span>01.02.2025
				.docs_link.col
					a(href="#") Скачать
			.page_docs__row
				.docs_info.col
					p.docs_info__title ПОЛОЖЕНИЕ О ПРИСУТСТВИИ ГРАЖДАН, В ТОМ ЧИСЛЕ ПРЕДСТАВИТЕЛЕЙ ОРГАНИЗАЦИЙ, ОБЩЕСТВЕННЫХ ОБЪЕДИНЕНИЙ, ГОСУДАРСТВЕННЫХ ОРГАНОВ И ОРГАНОВ МЕСТНОГО САМОУПРАВЛЕНИЯ НА ЗАСЕДАНИЯХ ДУМЫ АЧИТСКОГО ГОРОДСКОГО ОКРУГА И ЕЕ КОЛЛЕГИАЛЬНЫХ ОРГАНАХ
					.docs_info__download
						span PDF
						span 2,9 Мб
				.docs_date.col <span>Опубликован:</span>30.04.2025
				.docs_date.col <span>Опубликован:</span>30.04.2025
				.docs_link.col
					a(href="#") Скачать

		.pagination
			a(href="#").active 1
			a(href="#") 2
			a(href="#") 3
			span ...
			a(href="#") 25

