main
	section.banner_top
		.container
			.swiper
				.swiper-wrapper
					.swiper-slide
						.banner_top__slide
							img(src="/img/banner1.jpg", alt="alt")
					
				.swiperPagination
					button(type="button").swiperPagination__left
						<svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.6499 0.650024L0.649903 6.65002L5.6499 12.65" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					button(type="button").swiperPagination__right
						<svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.649903 0.650024L5.6499 6.65002L0.649902 12.65" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
	section.banner_gos
		.container
			.banner_gos__wrap
				.banner_gos__logo
					picture
						source(media="(min-width: 768px)", srcset="img/gos_logo.svg")
						img(src="img/gos_logo_sm.svg", alt="alt")
				p.banner_gos__title Не убран снег, яма на дороге, не горит фонарь?
				span.banner_gos__text Столкнулись с проблемой — <br>сообщите о ней!
				a(href="#").banner_gos__btn.btn-color-eye Сообщить о проблеме
				.banner_gos__picture
					img(src="img/gos_banner_right.svg", alt="alt")
	
	section.home_news_slider
		.container
			h2.h2 Новости
			.swiper
				.swiper-wrapper
					.swiper-slide
						a(href="#").news_card
							.news_card__image
								img(src="img/news_card_1.jpg", alt="alt")
							.news_card__content
								span.news_card__date 13 ноября 2025
								p.news_card__title 19 ноября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
								p.news_card__text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
						a(href="#").news_card
							.news_card__image
								img(src="img/news_card_1.jpg", alt="alt")
							.news_card__content
								span.news_card__date 13 ноября 2025
								p.news_card__title 19 ноября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
								p.news_card__text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
						a(href="#").news_card
							.news_card__image
								img(src="img/news_card_1.jpg", alt="alt")
							.news_card__content
								span.news_card__date 13 ноября 2025
								p.news_card__title 19 ноября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
								p.news_card__text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
					.swiper-slide
						a(href="#").news_card
							.news_card__image
								img(src="img/news_card_1.jpg", alt="alt")
							.news_card__content
								span.news_card__date 13 ноября 2025
								p.news_card__title 19 ноября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
								p.news_card__text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
						a(href="#").news_card
							.news_card__image
								img(src="img/news_card_1.jpg", alt="alt")
							.news_card__content
								span.news_card__date 13 ноября 2025
								p.news_card__title 19 ноября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
								p.news_card__text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
					
				.swiperBottom
					.swiperPagination
						button(type="button").swiperPagination__left
							<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.6499 6.6499L0.649902 6.6499M0.649902 6.6499L6.2749 12.6499M0.649902 6.6499L6.2749 0.649902" stroke="#333333" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						button(type="button").swiperPagination__right
							<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.649903 6.6499L15.6499 6.6499M15.6499 6.6499L10.0249 12.6499M15.6499 6.6499L10.0249 0.649902" stroke="#333333" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
					a(href="#").link_all
						span Все новости
						<svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.649902 12.6499L6.2749 6.6499L0.649903 0.649902" stroke="#0061D9" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>

	section.quote_text
		.container
			.quote_text__wrap
				h3.quote_text__title Приветствую Вас на официальном сайте Думы Ачитского муниципального округа!
				.quote_text__text
					p Наш сайт создан для того, чтобы сделать работу представительного органа местного самоуправления, депутатов максимально открытой и понятной каждому жителю. Здесь мы размещаем информацию о своих планах и результатах работы.
					p На сайте Вы найдете информацию о структуре и депутатах Думы Ачитского муниципального округа, познакомитесь с её деятельностью, работой постоянных комиссий, с внесенными на рассмотрение Думы проектами решений и принятыми решениями, а также почерпнете много другой полезной информации.
					p Очень надеюсь на постоянную связь через официальный сайт с населением городского округа и всеми, кто заинтересован в сотрудничестве. Буду искренне рад Вашим предложениям по улучшению работы представительного органа и официального сайта.
					p Уверен, что наши совместные усилия сделают Ачитский муниципальный округ более красивым и комфортным для проживания.
				.quote_text__image
					img(src="img/persone.png", alt="alt").img_persone
					img(src="img/flag.png", alt="alt").img_flag
				.quote_text__gray С уважением, председатель Думы Ачитского муниципального округа Алексей Торопов.
		img(src="img/flag.png", alt="alt").img_flag_lg

	section.resources_block
		.container
			h2.h2 Полезные ресурсы
			.resources_block__slider
				.swiper
					.swiper-wrapper
						.swiper-slide
							a(href="#").res_card
								i.res_card__icon
									img(src="img/res_logo1.png", alt="alt")
								span.res_card__text Официальный сайт Ачитского муниципального округа
						.swiper-slide
							a(href="#").res_card
								i.res_card__icon
									img(src="img/res_logo2.svg", alt="alt")
								span.res_card__text Портал правовой <br>информации
						.swiper-slide
							a(href="#").res_card
								i.res_card__icon
									img(src="img/res_logo2.svg", alt="alt")
								span.res_card__text Официальный сайт Правительства Свердловской области
						.swiper-slide
							a(href="#").res_card
								i.res_card__icon
									img(src="img/res_logo2.svg", alt="alt")
								span.res_card__text Официальный сайт Губернатора Свердловской области
						.swiper-slide
							a(href="#").res_card
								i.res_card__icon
									img(src="img/res_logo1.png", alt="alt")
								span.res_card__text Ачитская районная территориальная избирательная комиссия
						.swiper-slide
							a(href="#").res_card
								i.res_card__icon
									img(src="img/res_logo1.png", alt="alt")
								span.res_card__text Счетная палата Ачитского муниципального округа
						.swiper-slide
							a(href="#").res_card
								i.res_card__icon
									img(src="img/res_logo1.png", alt="alt")
								span.res_card__text Законодательное Собрание Свердловской области
						.swiper-slide
							a(href="#").res_card
								i.res_card__icon
									img(src="img/res_logo2.svg", alt="alt")
								span.res_card__text Комитет Государственной Думы по федеративному устройству и вопросам местного самоуправления
						.swiper-slide
							a(href="#").res_card
								i.res_card__icon
									img(src="img/res_logo3.svg", alt="alt")
								span.res_card__text Сайт Президента Российской Федерации

					.swiperNavigate
	
	section.partner_block
		.container
			.swiper
				.swiper-wrapper
					.swiper-slide
						.partner_block__card
							img(src="img/company1.png", alt="alt")
					.swiper-slide
						.partner_block__card
							img(src="img/company2.png", alt="alt")
					.swiper-slide
						.partner_block__card
							img(src="img/company3.png", alt="alt")
					.swiper-slide
						.partner_block__card
							img(src="img/company4.png", alt="alt")
					.swiper-slide
						.partner_block__card
							img(src="img/company1.png", alt="alt")
					.swiper-slide
						.partner_block__card
							img(src="img/company2.png", alt="alt")
					.swiper-slide
						.partner_block__card
							img(src="img/company3.png", alt="alt")
					.swiper-slide
						.partner_block__card
							img(src="img/company4.png", alt="alt")
				.swiperPagination
					button(type="button").swiperPagination__left
						<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M15.6499 6.6499L0.649902 6.6499M0.649902 6.6499L6.2749 12.6499M0.649902 6.6499L6.2749 0.649902" stroke="#333333" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					button(type="button").swiperPagination__right
						<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.649903 6.6499L15.6499 6.6499M15.6499 6.6499L10.0249 12.6499M15.6499 6.6499L10.0249 0.649902" stroke="#333333" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>

