main
  .container
    .breadcrumbs
      a(href="/") Главная страница
      span О думе
    h1.page_title О думе
    .page_inter
      .page_inter__top 
        p Для рассмотрения обращения и получения на него ответа предлагаем заполнить установленную форму с полями. Ответ на Ваше обращение будет отправлен на указанный электронный или почтовый адрес (в зависимости от заполнения).
      ul.page_inter__list
        li
          a(href="#").link-inter
            span.name Структура
            span.arrow Перейти
        li
          a(href="#").link-inter
            span.name Структура
            span.arrow Перейти
        li
          a(href="#").link-inter
            span.name Структура
            span.arrow Перейти