main
	.container
		.breadcrumbs
			a(href="/") Главная страница
			span Новости

		h1.page_title Новости

		.page_new_list
			.inner_text
				p На сайте вы найдете подробную информацию о структуре представительного органа и депутатах, познакомитесь с деятельностью Думы, работой постоянных комиссий, с внесенными проектами на рассмотрение Думы и принятыми решениями, а также почерпнете много другой полезной информации.
					<br><br>
					|Очень надеюсь на постоянную связь с Вами, уважаемые пользователи. Буду искренне рад Вашим предложениям по улучшению работы представительного органа и содержанию сайта.
					<br><br>
					|Уверен, что наши совместные усилия сделают наш любимый городской округ более красивым и комфортным.
			.grid-news
				a(href="#").block_news
					.block_news__picture
						img(src="img/block_new_1.jpg", alt="alt")
					.block_news__content
						span.block_news__content_date 13 ноября 2025
						p.block_news__content_title 19 ноября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
						p.block_news__content_text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
				a(href="#").block_news
					.block_news__picture
						img(src="img/block_new_2.jpg", alt="alt")
					.block_news__content
						span.block_news__content_date 22 ноября 2025
						p.block_news__content_title 29 октября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
						p.block_news__content_text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
				a(href="#").block_news
					.block_news__picture
						img(src="img/block_new_1.jpg", alt="alt")
					.block_news__content
						span.block_news__content_date 13 ноября 2025
						p.block_news__content_title 19 ноября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
						p.block_news__content_text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
				a(href="#").block_news
					.block_news__picture
						img(src="img/block_new_2.jpg", alt="alt")
					.block_news__content
						span.block_news__content_date 22 ноября 2025
						p.block_news__content_title 29 октября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
						p.block_news__content_text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
				a(href="#").block_news
					.block_news__picture
						img(src="img/block_new_1.jpg", alt="alt")
					.block_news__content
						span.block_news__content_date 13 ноября 2025
						p.block_news__content_title 19 ноября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
						p.block_news__content_text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
				a(href="#").block_news
					.block_news__picture
						img(src="img/block_new_2.jpg", alt="alt")
					.block_news__content
						span.block_news__content_date 22 ноября 2025
						p.block_news__content_title 29 октября 2025 года в 10.00 часов в малом зале Администрации состоится очередное заседание Думы Ачитского муниципального округа
						p.block_news__content_text Заседание Думы будет проходить в открытом режиме, по адресу: пгт.. Ачит, ул.. Кривозубова, д.. 2. Просмотр гражданами, представителями организаций видеотрансляции хода открытого заседания в режиме реального времени или в записи не предусмотрен. Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального
			.pagination
				a(href="#").active 1
				a(href="#") 2
				a(href="#") 3
				span ...
				a(href="#") 25
			
			.section_text
				h1 Заголовок h1
				p Но глубокий уровень погружения в значительной степени обусловливает важность кластеризации усилий. Равным образом, курс на социально-ориентированный национальный проект создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса своевременного выполнения сверхзадачи.
					<br><br>
					| Принимая во внимание показатели успешности, дальнейшее развитие различных форм деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса поэтапного и последовательного развития общества. Кстати,  элементы политического процесса превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. И нет сомнений, что реплицированные с зарубежных источников, современные исследования набирают популярность среди определенных слоев населения, а значит, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
					<br><br>
					| Приятно, граждане, наблюдать, как предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, преданы социально-демократической анафеме.