main
  .container
    .breadcrumbs
      a(href="/") Главная страница
      a(href="/") Обращение граждан
      span Интернет приемная
    h1.page_title Интернет приемная
    .page_rec
      .page_rec__top-info
        p Для рассмотрения обращения и получения на него ответа предлагаем заполнить установленную форму с полями. Ответ на Ваше обращение будет отправлен на указанный электронный или почтовый адрес (в зависимости от заполнения).
        p Сроки ответов на обращения физических и юридических лиц — не более 30 дней. Допускается подготовка ответов в более сжатые сроки.
      .page_rec__box-request
        form.js-form(action="#")
          .form-type-1
            .form-type-1__input-group
              label.input-type-1(for="1")
                input.input-type-1__input.required.required-mail(type="text" name="1" placeholder="")
                span.input-type-1__name Ваш электронный адрес
                span.error-message Это поле необходимо заполнить
            .form-type-1__success(style="display: none;")
              .success__wrapp
                p На вашу электронную почту отправлена уникальная ссылка для создания обращения. Если ссылка не пришла - проверьте папку "спам"
            .form-type-1__btn-group
              button.btn-blue.btn-color-eye(type="submit")
                span.text Запросить ссылку
      .page_rec__bottom-info
        p Пользовательское соглашение:
        p Информация о персональных данных авторов обращений, направленных в электронном виде, хранится и обрабатывается с соблюдением требований российского законодательства о персональных данных.
        p 1. При использовании информации, размещаемой на официальном сайте Губернатора Свердловской области (далее — сайт), электронные адреса лиц, пользующихся интерактивными сервисами сайта и (или) отправляющих электронные сообщения в адреса, указанные на сайте; автоматически накапливаемые сведения о том, к каким интернет-страницам сайта обращались пользователи; иные сведения (в том числе персонального характера), сообщаемые пользователями, – хранятся с использованием технических средств сайта для целей, перечисленных в пункте 2 настоящего Уведомления.
        p 2. Сведения о пользователях сайта, накапливаемые и хранимые в технических средствах сайта, используются исключительно для целей совершенствования способов и методов представления информации на сайте, улучшения обслуживания его пользователей (посетителей), выявления наиболее посещаемых интернет-страниц (интерактивных сервисов) сайта, а также ведения статистики посещений сайта.
        p 3. Вне пределов, указанных в пункте 2 настоящего Уведомления, информация о пользователях сайта не может быть каким‑либо образом использована или разглашена. Доступ к таким сведениям имеют только лица, специально уполномоченные на проведение работ, указанных в пункте 2 настоящего Уведомления, и предупреждённые об ответственности за случайное или умышленное разглашение либо несанкционированное использование таких сведений.
        p 4. Информация персонального характера о пользователях сайта хранится и обрабатывается с соблюдением требований российского законодательства о персональных данных.
        p 5. Какая‑либо информация, являющаяся производной по отношению к сведениям, перечисленным в пункте 1 настоящего Уведомления, представляется для последующего использования (распространения) исключительно в обобщённом виде, без указания конкретных сетевых (электронных) адресов и доменных имён пользователей (посетителей) сайта.
        p 6. Рассылка каких‑либо электронных сообщений по сетевым (электронным) адресам пользователей (посетителей) сайта, а также размещение на сайте гиперссылок на сетевые (электронные) адреса пользователей сайта и (или) их интернет-страницы допускаются исключительно, если такая рассылка и (или) размещение прямо предусмотрены правилами использования соответствующего интерактивного сервиса и на такую рассылку и (или) размещение получено предварительное согласие пользователя (посетителя) сайта, выраженное в форме, предусмотренной указанными правилами. Переписка с пользователями (посетителями) сайта, не относящаяся к использованию интерактивных сервисов сайта либо иных информационных разделов сайта, не производится.