main
  .container
    .breadcrumbs
      a(href="/") Главная страница
      span Текстовая страница
    h1.page_title Заголовок h1
    .static-text
      h1 Заголовок h1
      p Подзаголовок для h1
      h2 Заголовок h2
      p Подзаголовок для h2
      h3 Заголовок h3
      h4 Заголовок h4
      h5 Заголовок h5
      h6 Заголовок h6
      p Заседание Думы будет проходить в открытом режиме, по адресу: пгт. Ачит, ул. Кривозубова, д. 2.
      p Заявки граждан, представителей организаций о намерении присутствовать на заседании принимаются ведущим специалистом Думы Ачитского муниципального округа Белоусовой Мариной Юрьевной по электронной почте:<a href="#">dumaachit@mail.ru</a>
      ul
        li В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие требует определения и уточнения системы массового участия.
        li Однозначно, активно развивающиеся страны третьего мира, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут преданы социально-демократической анафеме.
        li Ясность нашей позиции очевидна: социально-экономическое развитие влечет за собой процесс внедрения и модернизации анализа существующих паттернов поведения.
      ol
        li В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие требует определения и уточнения системы массового участия.
        li Однозначно, активно развивающиеся страны третьего мира, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут преданы социально-демократической анафеме.
        li Ясность нашей позиции очевидна: социально-экономическое развитие влечет за собой процесс внедрения и модернизации анализа существующих паттернов поведения.
    