.d_container
	ul
		li
			a(href="/home.html") Главная страница
		li
			a(href="/news_list1.html") Новости / список 1
		li
			a(href="/news_list2.html") Новости / список 2
		li
			a(href="/news_detail1.html") Новости / Детальная 1
		li
			a(href="/news_detail2.html") Новости / Детальная 2
		li
			a(href="/document.html") Документы
		li
			a(href="/404.html") 404
		li
			a(href="/contacts.html") Контакты
		li
			a(href="/deputies.html") Депутаты
		li
			a(href="/deputies-2.html") Депутаты 2
		li
			a(href="/detail-deputy.html") Депутаты профиль
		li
			a(href="/reception.html") Интернет приемная
		li
			a(href="/reception2.html") Интернет приемная 2
		li
			a(href="/text.html") Текстовая страница
		li
			a(href="/text2.html") Текстовая страница 2
		li
			a(href="/link-lists.html") Списки ссылок