<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap" rel="stylesheet">
link(rel="icon" href="img/favicon.png" type="image/x-icon")
link(rel="stylesheet", href="css/main.min.css")
link(rel="stylesheet", href="css/libs.min.css")