<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
script(src="libs/jquery3.6.0/jquery.min.js")
script(src="libs/jquery.responsive-dom/jquery.responsive-dom.min.js")
//- script(src="libs/inputMask/inputmask.min.js")
script(src="libs/swiper/swiper.min.js")
script(src="libs/jquery.inputmask/jquery.inputmask.min.js")
script(src="libs/jquery.cookie/jquery.cookie.min.js")
//- script(src="libs/jquery.scrollbar-gh-pages/jquery.scrollbar.min.js")

script(src="js/common.js")
script(src="js/verEye.js")

