footer.footer
	.container
		.footer__top
			a(href="#").sitelogo
				.d_flex
					.d_img
						img(src="/img/logo.svg", alt="alt")
					.d_text
						span.logo_t Дума Ачитского<br> муниципального округа
						span.logo_b ОФИЦИАЛЬНЫЙ САЙТ
			.footer__top_row
				.footer__top_block
					.address
						span Адрес
						span 623230, Свердловская область, пгт. Ачит, <br>ул. Кривозубова, 2
				.footer__top_block
					.address
						span Телефон/факс
						a(href="tel:+73439170124") +7 (34391) 7−01−24
				.footer__top_block
					.address
						span Телефон/факс
						a(href="mailto:dumaachit@mail.ru") dumaachit@mail.ru
					a(href="#").btn.btn-border-eye Интернет приемная
		ul.footer__menu
			li
				a(href="#") Новости
			li
				a(href="#") О думе
				ul
					li
						a(href="#") Структура
					li
						a(href="#") Полномочия
					li
						a(href="#") Регламент
					li
						a(href="#") Муниципальная служба
					li
						a(href="#") Контакты
					li
						a(href="#") История
			
			li
				a(href="#") Депутаты
			
			li
				a(href="#") Деятельность
				ul
					li
						a(href="#") Ближайшие заседания
					li
						a(href="#") Проекты решений
					li
						a(href="#") Планы работы
					li
						a(href="#") Работа с наказами
					li
						a(href="#") Отчеты
			li
				a(href="#") Документы
				ul
					li
						a(href="#") Местное самоуправление
					li
						a(href="#") Муниципальные НПА
					li
						a(href="#") Решения Думы
			li
				a(href="#") Муниципалитет
				ul
					li
						a(href="#") История
					li
						a(href="#") География
					li
						a(href="#") Флаг и герб
			li
				a(href="#") Обращения граждан
				ul
					li
						a(href="#") Интернет приемная
					li
						a(href="#") График приема избирателей
					li
						a(href="#") Обзоры обращений
			li
				a(href="#") Противодействие коррупции

		.footer__bottom
			a(href="#", target="_blank") Политика конфиденциальности
			span © 2015–2025 Дума Ачитского муниципального округа

	.cookie_modal
		.cookie_modal__text Сайт использует файлы cookies и сервис сбора технических данных его посетителей. Продолжая использовать данный ресурс, вы автоматически соглашаетесь с использованием данных технологий
		.cookie_modal__btn.btn-color-eye Понятно