.catalog_modal
	.catalog_modal__overlay
	button(type="button").catalog_modal__close
		<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0.650391 0.649994L16.6504 16.65M0.650391 16.65L16.6504 0.649994" stroke="black" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	.catalog_modal__wrapper
		form(action="#" method="post").search_form
			.search_form__input
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="8" cy="8" r="5.5" stroke="#A7A8AB"/>
					<path d="M12 12L18 17.5" stroke="#A7A8AB" stroke-linecap="round"/>
				</svg>
				input(type="text", placeholder="Начните вводить название")
			.search_form__submit
				button(type="submit").btn.btn-color-eye
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="8" cy="8" r="5.5" stroke="#0061D9"/>
						<path d="M12 12L18 17.5" stroke="#0061D9" stroke-linecap="round"/>
					</svg>
					span Поиск
		
		.catalog_modal__menu
			.catalog_modal__menu__block
				ul
					li
						a(href="#") О думе
						ul
							li
								a(href="#") Структура
							li
								a(href="#") Полномочия
							li
								a(href="#") Регламент
							li
								a(href="#") Муниципальная служба
							li
								a(href="#") Контакты
							li
								a(href="#") История
			.catalog_modal__menu__block
				ul
					li
						a(href="#") Депутаты
						ul
							li
								a(href="#") Изберательный округ №1
							li
								a(href="#") Изберательный округ №2
							li
								a(href="#") Изберательный округ №3
							li
								a(href="#") Изберательный округ №4
							li
								a(href="#") Изберательный округ №5
			.catalog_modal__menu__block
				ul
					li
						a(href="#") Документы
						ul
							li
								a(href="#") Местное самоуправление
							li
								a(href="#") Муниципальные НПА
							li
								a(href="#") Решения Думы
			.catalog_modal__menu__block
				ul
					li
						a(href="#") Муниципалитет
						ul
							li
								a(href="#") История
							li
								a(href="#") География
							li
								a(href="#") Флаг и герб
			.catalog_modal__menu__block
				ul
					li
						a(href="#") Деятельность
						ul
							li
								a(href="#") Ближайшие заседания
							li
								a(href="#") Проекты решений
							li
								a(href="#") Планы работы
							li
								a(href="#") Работа с наказами
							li
								a(href="#") Отчеты
			.catalog_modal__menu__block
				ul
					li
						a(href="#") Обращения граждан
						ul
							li
								a(href="#") Интернет приемная
							li
								a(href="#") График приема избирателей
							li
								a(href="#") Обзоры обращений
			.catalog_modal__menu__block
				ul
					li
						a(href="#") Противодействие коррупции
						ul
							li
								a(href="#") Нормативные правовые и иные акты в сфере противодействия коррупции
							li
								a(href="#") Антикоррупционная экспертиза
							li
								a(href="#") Методические материалы
							li
								a(href="#") Муниципальная служба
							li
								a(href="#") Контакты
							li
								a(href="#") История
	