extends ../layout/layout
block vars
	- var title = 'Депутаты';

block header

block content
	.wrapper
		include ../includes/components/_header
		include ../includes/pages/deputies
		include ../includes/components/_footer


		include ../includes/components/_mobile_menu
		

block footer
	include ../includes/script