extends ../layout/layout
block vars
	- var title = 'Новости / Детальная 1';

block header

block content
	.wrapper
		include ../includes/components/_header
		include ../includes/pages/news_detail1
		include ../includes/components/_footer


		include ../includes/components/_mobile_menu
		

block footer
	include ../includes/script