include ../includes/mixins
doctype html
block vars
html(lang="ru")
	head
		meta(charset="UTF-8")
		//- meta(name="viewport" , content="width=device-width, initial-scale=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title #{title}
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")

		link(rel="icon", href="img/favicon.ico")

		meta(property="og:url" content="/")
		meta(property="og:type" content="website")
		meta(property="og:title" content="")
		meta(property="og:description" content="")
		meta(property="og:image" itemprop="image" content="")
		meta(name="relap-image" content="")
		include ../includes/links
	body(class="")
		block header

		block content

		block footer